fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
bcrypt==3.2.2
pydantic
email-validator
python-dotenv
requests
numpy
sentence-transformers

beautifulsoup4
Pillow
reportlab
google-auth
